import * as S from './styles'

const {{pascalCase name}} = () => {
  return (
    <S.Wrapper{{pascalCase name}}>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper{{pascalCase name}}>
  )
}

export default {{pascalCase name}}
